aside { 
	section.taglisting { 
		.tag-link.aside-header {
			border-bottom: 6px #96C8DF solid;
			line-height: 2em;
			font-weight: bold;
		}
		.tag-link { 
			@include clearfix;
			border-bottom: 1px lighten(#b3c9d6,10%) solid;
			line-height: 2em;
			padding-left: 1em;
			.count {
				float: left;
				width: 1em;
				text-align: right;

			}
			.name {
				margin-left: 1em;
				float: left;
				a {
					font-weight: normal;
					@include unstyled-link;
					text-transform: capitalize;

				}
			}
		}
	}
}
