aside { 
	section { 
		margin-bottom: 2em;


		.aside-header-top,
		.aside-header-bottom {
			line-height: 2em;
			font-weight: bold;
			padding-left: 1em;
			@include clearfix;
			.count {
				float: left;
				width: 1em;
				text-align: right;
			}
			.name {
				margin-left: 1em;
				float: left;
			}
		}
		.aside-header-top {
			border-top: 6px #96C8DF solid;
			padding-top: .5em;
		}
		.aside-header-bottom {
			border-bottom: 6px #96C8DF solid;
			margin-bottom: 0.5em;
		}
		.search { 
			@include clearfix;
		}
		.tag { 
			@include clearfix;
			border-bottom: 1px lighten(#b3c9d6,10%) solid;
			line-height: 2em;
			padding-left: 1em;
		.count {
			float: left;
			width: 1em;
			text-align: right;

		}
		.name {
			margin-left: 1em;
			float: left;
			a {
				font-weight: normal;
				@include unstyled-link;
				text-transform: capitalize;

				}
			}
		}
		.profile {
			@include clearfix;
			border-bottom: 1px lighten(#b3c9d6,10%) solid;
			line-height: 2em;
			margin-bottom: 1em;
			padding:.5em 0;
			img {
				@include border-radius(50%);
				border:2px lighten(#b3c9d6,10%) solid;
				height: 4.5em;
				width: 4.5em;
				float:right;
				margin-right: 1.5em;
			}
			.author, 
			.postcount {
				padding-left: 3em;
			}
			.postcount {
				// font-size: .8em;

			}
		}
	}
}
