.banner {
	padding: 100px 0 ;
	background: $header-bg;
	text-align: center;
	@include text-shadow(2px 2px 5px #aaaaaa);
	font-family: $lucida-font-family;
	h1 { 
		font-size: 16px;
		margin-bottom: 0;}
	a {
		font-size: 1.7em;
		letter-spacing:-3px;
		color:white;
		span {
  			font-size: 2.0em;
		}
		.workers {
			color:$gelb;
		}
		&:hover { text-decoration: none;}
	}
	h2 {
		font-size: 13px;
		color:$header-sub-text;
		margin-top: 0;
	}
}
