.footer { 
	color:$footer-text;
	font-family: Arial;
	background: $footer-bg;
}
.footer-content {
	.copy {
		font-weight: bold;
		line-height: 2em;
	}
	.rights, .made { font-size: .8em;}

}

footer .logos a {}

