.footer { 
	color:$footer-text;
	margin-top: 3em;
	font-family: Arial;
	background: $footer-bg;
	padding-bottom: 10em;

	}
.footer-content {
	.copy {
		font-weight: bold;
		line-height: 2em;
	}
	.rights, .made { font-size: .8em;}

}

footer .logos a {}

