.footer { 
	background: $footer-bg;
	color:$footer-text;
	padding:2em 0;
	margin-top: 3em;
	}
.footer-content {
	padding-bottom: 10em;
	.copy {
		font-weight: bold;
		line-height: 2em;
	}
	.rights, .made { font-size: .8em;}

}