//-----------------------------------------------------------------------------
// Custom Mixins
@mixin hover-btn-unhover {
	padding: 5px 8px;
	border: 2px #6899b5 solid;
	font-weight: bold;
	border-radius: 5px;
	color: #6899b5;
	font-size: 0.8em;
	text-decoration: none;
}
@mixin hover-btn-hover {
	border: 2px transparent solid;
	background: #6899b5;
	color:white;
}
@mixin hover-btn {
	@include hover-btn-unhover;
	&:hover { @include hover-btn-hover; }
}