//	.container
//		header
//		nav
//		#main
//			section
//			aside
//				.search
//				.taglisting
//				.profiles
//		footer

// Base Setup
$total-columns  : 7;   // 16pxX7=112px 112px/14px=8
$column-width   : 4em; // 16pxX4=64px  64px/14px=4.571428571
$gutter-width   : 1em; // 16px/14px=1.142857143
$grid-padding   : $gutter-width;

// Break points
$break          : 12;



.container {
	@include container($total-columns, $break);
}


.container {
	@include at-breakpoint($break) {
	  header {  }
	  // nav { @include span-columns(2,$break); }
	  #main {
	    $main-columns: 10;
	    @include span-columns($main-columns omega, $break);
	    section { @include span-columns(6,$main-columns) }
	    aside > section { @include span-columns(3 omega, $main-columns) }
	  }
	  footer {
	  	@include span-columns($break);
	  }
	}
}

footer,
header {
  // margin: 0 0 - $grid-padding;
  // padding: 0 $grid-padding;
  @include reset-columns;
  width: 100%;
}




// Debug Grid
.container {
  // @include susy-grid-background;
  // @include at-breakpoint($break) { @include susy-grid-background; }
  // @include at-breakpoint($small-columns) { @include susy-grid-background; }
  // @include at-breakpoint($medium-columns) { @include susy-grid-background; }
  // @include at-breakpoint($large-columns) { @include susy-grid-background; }
}
