

@import "compass/reset";
// custom bootstrap variables

@import "_bootstrap_variables";
@import "bootstrap-custom";
@import "compass";
@import "susy";



$gelb: #fecf2f;
$header-bg: #96c8df; // blau
$header-sub-text: #aedcf1;
$text: #6899b5;
$footer-bg: #ddebf2;
$footer-text: #85a7bb;

$lucida-font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;

//-----------------------------------------------------------------------------
// Grid Settings
// @include border-box-sizing;

$total-columns  : 7;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

$break          : 12;

//-----------------------------------------------------------------------------
// Layout


body {
	// background: white;
	font-family: Arial, sans-serif;
	color: $text;
}

img {
	max-width: 90%;
	border:1px #aedcf1 solid;	 
}

.pageheader {
	// @include span-columns(7 omega);
	width: 100%;
	padding: 100px 0 ;
	background: $header-bg;
	text-align: center;
	@include text-shadow(2px 2px 5px #aaaaaa);
	font-family: $lucida-font-family;
	h1 {
		font-size: 1.7em;
		letter-spacing:-3px;
		color:white;
		span {
  			font-size: 2.0em;
		}
		.workers {
			color:$gelb;
		}
	}
	h2 {
		font-size: 1em;
		color:$header-sub-text;
	}
}

.mainnavigation { 
	top: -60px;
	left:-2px; // will be added by a's border.
	position: relative;
	text-align: justify; 
	padding: 0;
	ul { 
		display:inline; 
		margin:0;
		li { display:inline-block; 
			a { display:inline-block; 
			}
		}
	}
	&:after {
  		content: '';
  		width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  		display: inline-block;
	}	
}



.mainnavigation ul li a {
  @include unstyled-link;
 		margin: 2px;
 		padding: 4px;
 		color:white;
  &.active {
  		border-bottom: 2px $gelb solid;
  		margin-bottom: 0;
  }
  &:hover { 
  	@include border-radius;
  	 	border: 2px white solid;
 		margin: 0;
  }
}

@mixin hover-btn-unhover {
	padding: 5px 8px;
	border: 2px #6899b5 solid;
	font-weight: bold;
	border-radius: 5px;
	color: #6899b5;
	font-size: 0.8em;
	text-decoration: none;
}
@mixin hover-btn-hover {
	border: 2px transparent solid;
	background: #6899b5;
	color:white;
}
@mixin hover-btn {
	@include hover-btn-unhover;
	&:hover { @include hover-btn-hover; }
}
#main {
	@include container($total-columns, $break);
	@include establish-baseline;
	section {
		// @include span-columns(7 omega);
		article {
			@include span-columns(7 omega);
			border-top: 4px $gelb solid;
			padding-top: 2em;
			header h2 a {
				font-size: 1.2em;
				font-weight: bold;
				padding-bottom: 1em;
				color: #6899b5;
				text-decoration: none;
				display: block;
			}
			footer {
				// @include clearfix;
				color: #b3c9d6;
				padding: 1.5em 0 3.5em;
				ul { display:inline;
					float: left;
					li {
						display: inline-block;
						a {
							color: #b3c9d6;
							text-decoration: none;
						}
					}
				}
				.author, time {
					float:right;
					display: inline;
					font-size: 0.9em;
				}
				.more {
					float:right;
					@include hover-btn;
					display: inline-block;
					margin-left: 2px;
					margin-left: 7px;
					top: -7px;
					position: relative;
				}
			}
		}		
	}
}

.pagination {
	@include span-columns(7 omega);
	padding: 3em 0 2em;
	a { 
		@include hover-btn-unhover; 
		@include hover-btn-hover; 
		position: relative;
		&.newer { float:left; }
		&.older { float:right; }
	}
	span {
		position: relative;
		line-height: 2em;
		color: #6899b5;
		&.newer { left:-8.42em; float: left; }
		&.older { right:-8.1em; float: right;}
	}
}

.footer { 
	background: $footer-bg;
	color:$footer-text;
	padding:2em 0;
	margin-top: 3em;
	// @include clearfix;
	}
.footer-content {
	@include container($total-columns, $break);
	padding-bottom: 10em;
	.copy {
		font-weight: bold;
		line-height: 2em;
	}
	.rights, .made { font-size: .8em;}

}

