

// custom bootstrap variables
@import "compass/reset";
@import "bootstrap-variables";
@import "bootstrap-custom";
@import "compass";
@import "susy";


// Custom Styles from the beginning. 
// They should be minized step by step.
$gelb: #fecf2f;
$header-bg: #96c8df; // blau
$dark-bg: $header-bg; 
$header-sub-text: #aedcf1;
$footer-bg: #ddebf2;
$footer-text: #85a7bb;
// Text Colors
$text-color:#6899b5;
$text-color-light:#B3C9D6;
// Font used in banner
$lucida-font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;

// $blue: #94c8e0;
// $color2: #92c6de;
// $dark-blue: #8bbfd7;
// $color4: #90c4dc;
// $color5: #ffffff;
// $color6: #f8fafc;
// $yellow: #ffd000;
// $light-blue: #ddebf2:

@import "mixins";
@import "susy-grid";
@import "banner";
@import "mainnavigation";
@import "text";
@import "projects";
@import "aside";
@import "pagination";
@import "footer";
@import "about";

