---
layout: about
title: Über Uns
---

.main.about
    markdown:
        # Wer sind wir? 

        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    section
        article.card
            figure 
            	= image_tag("face1_100x100.png", alt: "Nils Bolsen")
        	.name Nils Bolsen
        	.title Plaintext CLI Geek
        	.mailto 
        		a.glyphicon.glyphicon-envelope 
        	markdown:
        		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        		
        		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        		cillum dolore eu fugiat nulla pariatur. Excepteur sint.
        	.talents
        		markdown:
	        		* PHP
	        		* Big Data
	        		* Javascript
	        		* Webanalysis
	        		* HTML & CSS
        		
        	


