---
pageable: true
per_page: 5
layout: layout
title: "Archive - "
---

== partial "article-listing"




/ - if paginate
/   p
/     | Page #{page_number} of #{num_pages}
/   - if prev_page
/     p= link_to 'Neuere Beiträge', prev_page
/   - if next_page
/     p= link_to 'Ältere Beiträge', next_page
/     